/************************************************************************\
                           WORK-BENCH COLOR SCHEME
\************************************************************************/

/* Growth */
$Growth-1: #18a656;
$Growth-2: #19934c;
$Growth-3: #084b25;

/* Leather */
$Leather-1: #060606;
$Leather-2: #332f29;
$Leather-3: #524d46;
$Leather-4: #7a7771;
$Leather-5: #a29d96;

/* Wood */
$Wood-1: #ffffff;
$Wood-2: #fcfcfa;
$Wood-3: #eae8e7;
$Wood-4: #c5c2bc;
$Wood-5: #73726f;

$white:        $Wood-1;
$lighter_grey: $Wood-2;
$light_grey:   $Wood-3;
$medium_grey:  $Wood-4;
$dark_grey:    $Wood-5;

$green:        $Growth-1;

$black:        $Leather-1;
