/************************************************************************\
                                TYPOGRAPHY
\************************************************************************/

// Avenir
@font-face {
  font-family: "Avenir Next Regular";
  src: font-url('avenir-next-regular.eot');
  src: font-url('avenir-next-regular.eot?#iefix') format('embedded-opentype'),
       font-url('avenir-next-regular.woff') format('woff'),
       font-url('avenir-next-regular.ttf') format('truetype'),
       font-url('avenir-next-regular.svg#AvenirNextRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Medium";
  src: font-url('avenir-next-medium.eot');
  src: font-url('avenir-next-medium.eot?#iefix') format('embedded-opentype'),
       font-url('avenir-next-medium.woff') format('woff'),
       font-url('avenir-next-medium.ttf') format('truetype'),
       font-url('avenir-next-medium.svg#AvenirNextMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: font-url('avenir-next-demi.eot');
  src: font-url('avenir-next-demi.eot?#iefix') format('embedded-opentype'),
       font-url('avenir-next-demi.woff') format('woff'),
       font-url('avenir-next-demi.ttf') format('truetype'),
       font-url('avenir-next-demi.svg#AvenirNextDemi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Heavy";
  src: font-url('avenir-next-heavy.eot');
  src: font-url('avenir-next-heavy.eot?#iefix') format('embedded-opentype'),
       font-url('avenir-next-heavy.woff') format('woff'),
       font-url('avenir-next-heavy.ttf') format('truetype'),
       font-url('avenir-next-heavy.svg#AvenirNextHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Lelum Sans
@font-face {
    font-family: "Lelum Sans Bold";
    src: font-url('lelum-sans-bold.eot');
    src: font-url('lelum-sans-bold.eot?#iefix') format('embedded-opentype'),
         font-url('lelum-sans-bold.woff') format('woff'),
         font-url('lelum-sans-bold.ttf') format('truetype'),
         font-url('lelum-sans-bold.svg#LelumSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lelum Sans Bold Italic";
    src: font-url('lelum-sans-bold-italic.eot');
    src: font-url('lelum-sans-bold-italic.eot?#iefix') format('embedded-opentype'),
         font-url('lelum-sans-bold-italic.woff') format('woff'),
         font-url('lelum-sans-bold-italic.ttf') format('truetype'),
         font-url('lelum-sans-bold-italic.svg#LelumSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lelum Sans Book";
    src: font-url('lelum-sans-book.eot');
    src: font-url('lelum-sans-book.eot?#iefix') format('embedded-opentype'),
         font-url('lelum-sans-book.woff') format('woff'),
         font-url('lelum-sans-book.ttf') format('truetype'),
         font-url('lelum-sans-book.svg#LelumSansBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lelum Sans Book Italic";
    src: font-url('lelum-sans-book-italic.eot');
    src: font-url('lelum-sans-book-italic.eot?#iefix') format('embedded-opentype'),
         font-url('lelum-sans-book-italic.woff') format('woff'),
         font-url('lelum-sans-book-italic.ttf') format('truetype'),
         font-url('lelum-sans-book-italic.svg#LelumSansBookItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lelum Sans Light";
    src: font-url('lelum-sans-light.eot');
    src: font-url('lelum-sans-light.eot?#iefix') format('embedded-opentype'),
         font-url('lelum-sans-light.woff') format('woff'),
         font-url('lelum-sans-light.ttf') format('truetype'),
         font-url('lelum-sans-light.svg#LelumSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lelum Sans Light Italic";
    src: font-url('lelum-sans-light-italic.eot');
    src: font-url('lelum-sans-light-italic.eot?#iefix') format('embedded-opentype'),
         font-url('lelum-sans-light-italic.woff') format('woff'),
         font-url('lelum-sans-light-italic.ttf') format('truetype'),
         font-url('lelum-sans-light-italic.svg#LelumSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Type Variables
$font-heavy        : "Avenir Next Heavy",       sans-serif;
$font-bold         : "Lelum Sans Book",         sans-serif;
$font-bold-italic  : "Lelum Sans Book Italic",  sans-serif;
$font-demi         : "Avenir Next Demi",        sans-serif;
$font-medium       : "Avenir Next Medium",      sans-serif;
$font-book         : "Lelum Sans Book",         sans-serif;
$font-book-italic  : "Lelum Sans Book Italic",  sans-serif;
$font-light        : "Lelum Sans Light",        sans-serif;
$font-light-italic : "Lelum Sans Light Italic", sans-serif;

$ss-social    : "SSSocial Regular"     sans-serif;
$ss-circle    : "SSSocial Circle",     sans-serif;
$ss-standard  : "SSStandard",          sans-serif;

$base-font-family    : $font-book;
$base-font-size      : 16px;
$base-line-height    : 2;

$reduced-font-size      : 15px;
$reduced-line-height    : 1.8;

$minor-font-size     : 13px;
$compact-line-height : 1.35;


// Headers
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: $compact-line-height;
  margin: .5em 0 0 0;
}

h1 {
  font-size: 60px;
  font-family: $font-heavy;
  letter-spacing: 4px;
  text-transform: uppercase;

  &.hero {
    color: $white;
    width: 100%;
  }
}

h2 {
  font-size: 30px;
  font-family: $font-medium;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  font-family: $font-light;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h4 {
  font-size: 15px;
  font-family: $font-medium;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin-top: 2em;
  &.double-margin {
    margin-top: 4em;
  }
}

h5 { }
h6 { }

b, strong {
  font-family: $font-bold;
  em {
    font-family: $font-bold-italic;
  }
}

em {
  font-family: $font-book-italic;
  b, strong {
    font-family: $font-bold-italic;
  }
}

p {
  text-align: justify;
  margin-top: 1.5em;

  &.first {
    margin-top: 0;
  }
  &.half-margin {
    margin-top: .5em;
  }
  &.double-margin {
    margin-top: 5em;
  }
  &.centered {
    text-align: center;
  }
  &.minor {
    font-size: $minor-font-size;
  }
}

q {
  display: block;
  font-size: 2 * $base-font-size;
  font-family: $font-book-italic;
  line-height: $compact-line-height;
  text-align: justify;
  margin: 26px 0 36px 0; // Top has less margin b/c of type line-heights
  color: $green;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid $dark_grey;
  @include transition(all .3s);

  &:active, &:hover {
    color: $green;
    border-bottom: 2px solid $green;
  }

  &.discrete {
    border-bottom: 0;
    &:active, &:hover {
      border-bottom: 0;
    }
  }
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: $base-font-size;
}
pre {
  white-space: pre-wrap;
}
::selection, ::-moz-selection {
  background: #bff7d7;
}

small {
  font-size: 80%;
}

abbr[title] { border-bottom: 1px dotted; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.ss-standard {
  font-family: $ss-standard;
}

.ss-social {
  font-family: $ss-social;
}
