/************************************************************************\
                           WORK-BENCH COLOR SCHEME
\************************************************************************/

$black: #000;
$white: #fff;
$light_grey: #f5f4f2;
$lighter_grey: #f0eded;
$medium_grey: #e0dedc;
$dark_grey: #4b4b4f;
$green: #45d17f;

/* Growth */
$Growth-1: #18a656;
$Growth-2: #19934c;
$Growth-3: #084b25;

/* Leather */
$Leather-1: #060606;
$Leather-2: #332f29;
$Leather-3: #524d46;
$Leather-4: #7a7771;
$Leather-5: #a29d96;

/* Wood */
$Wood-1: #ffffff;
$Wood-2: #fcfcfa;
$Wood-3: #eae8e7;
$Wood-4: #c5c2bc;
$Wood-5: #73726f;
