<!-- ========================== COOPERATIVE ========================== -->
<section id="cooperative">
  <div class="core-content double-padded">
    <h3>Cooperative</h3>

    <h4>The Network</h4>
    <p class="half-margin">
      At Work-Bench we connect the brightest entrepreneurs and seasoned blue chip executives to create lasting value. 97% of the Fortune 500 and an army of small to medium businesses all turn to <a href="http://rrdonnelley.com/about/rrdonnelley.aspx" target="_blank">RR Donnelley</a>, our first industry anchor, when they need products to better their business. Through our partners we are connected to an expansive and powerful network of more than 60,000 companies.
    </p>

    <h4>Muscle Memory</h4>
    <p class="half-margin">
      Introductions are easy, the challenge is what comes next. At Work-Bench we have a growing set of resources to create effective collaborations between builders and buyers. Our community relies on the muscle memory of our team to shepherd members into lasting relationships that really move the needle.
    </p>
  </div>
</section>
