<!-- ============================ FOOTER ============================= -->
<section id="footer" class="footer-bg last dark">
  <div class="core-content double-padded">
    <a href="#" class="discrete"><%= image_tag('ngg_logo.png', class:"footer-icon") %></a>

    <p class="centered half-margin">
      <a href="https://www.google.com/maps?q=work%E2%80%94bench&amp;ie=UTF8&amp;ll=40.738047,-73.993006&amp;spn=0.005707,0.011362&amp;t=m&amp;hq=work%E2%80%94bench&amp;hnear=New+York&amp;z=17&amp;iwloc=A" target="_blank" class="discrete">
        Next Generation Capital Partners<br>
        975 East 22nd Street<br>
        Wheaton, IL 60189<br>
      </a>
    </p>

    <h4></h4>

    <nav class="nav-footer">
      <ul>
        <li><a href="mailto:info@nxtgendev.com" target="_blank" class="discrete"><span class="ss-social ss-icon ss-mail"></span> Email</a></li>
        <li><a href="#" target="_blank" class="discrete"><span class="ss-social ss-icon ss-phone"></span> Phone</a></li>
        <li><a href="#"  target="_blank" class="discrete"><span class="ss-social ss-icon ss-fax"></span> Fax</a></li>
      </ul>
    </nav>

    <h4 class="double-margin">Navigation</h4>

    <nav class="nav-footer">
      <ul>
        <li><a href="#about" class="discrete">About</a></li>
        <li><a href="#experience" class="discrete">Experience</a></li>
        <li><a href="#team" class="discrete">Team</a></li>
        <li><a href="#projects" class="discrete">Projects</a></li>
      </ul>
    </nav>

    <p class="centered minor double-margin">
      &copy; 2013 Next Generation Development LLC.
    </p>
  </div>
</section>
