<!-- ============================ FOOTER ============================= -->
<section id="footer" class="footer-bg last">
  <div class="core-content double-padded">
    <a href="#" class="discrete"><%= image_tag('ngg_logo.png', class:"footer-icon") %></a>

    <p class="centered half-margin">
      <a href="https://www.google.com/maps?q=work%E2%80%94bench&amp;ie=UTF8&amp;ll=40.738047,-73.993006&amp;spn=0.005707,0.011362&amp;t=m&amp;hq=work%E2%80%94bench&amp;hnear=New+York&amp;z=17&amp;iwloc=A" target="_blank" class="discrete">
        975 East 22nd Street<br>
        Wheaton, IL 60189<br>
      </a>
      <a href="mailto:hello@work-bench.com" class="discrete">hello@work-bench.com</a>
    </p>

    <h4></h4>

    <nav class="nav-footer">
      <ul>
        <li><a href="#wb_newsletter" rel="modal:open" class="discrete"><span class="ss-book"></span> Newsletter</a></li>
        <li><a href="http://twitter.com/work_Bench" target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF611;</span> Twitter</a></li>
        <li><a href="http://www.linkedin.com/company/work-bench?trk=hb_tab_compy_id_2917433"  target="_blank" class="discrete"><span class="ss-social ss-icon">&#xF612;</span> LinkedIn</a></li>
      </ul>
    </nav>

    <h4 class="double-margin">Navigation</h4>

    <nav class="nav-footer">
      <ul>
        <li><a href="#about" class="discrete">About</a></li>
        <li><a href="#experience" class="discrete">Experience</a></li>
        <li><a href="#team" class="discrete">Team</a></li>
        <li><a href="#projects" class="discrete">Projects</a></li>
      </ul>
    </nav>

    <p class="centered minor double-margin">
      &copy; Next Generation Development LLC.
    </p>
<!--    <p class="centered half-margin minor">
      Typeset in <a href="http://www.linotype.com/90672/AvenirNext-family.html" class="discrete">Avenir Next</a> and Lelum Sans
    </p> -->
  </div>
</section>
