<!-- ============================== HERO ============================= -->
<section id="hero" class="first">

  <%= partial 'partials/nav' %>

  <div class="hero-area">
    <div class="hero-logo-wrap">
      <div class="hero-logo-full-wrap absolute-centered">
        <%= image_tag "work-bench-logo.png", class: "hero-logo" %>
      </div>
      <div class="hero-logo-icon-wrap absolute-right">
        <%= image_tag "work-bench-icon.png", class: "hero-icon" %>
      </div>
    </div>

    <div class="hero-text absolute-centered">
      <h1 class="hero">Building Enterprise Technology to Scale</h1>
    </div>
    <%= image_tag "hero-bg.jpg", class: "hero-bg" %>
  </div>
</section>
