<!-- ============================== HOOK ============================= -->
<section id="hook">
  <div class="core-content">
    <p>
      Work-Bench champions enterprise technology through a cooperative workspace for members, education, and a bridge program that connects exceptional startups to customers, partners, and investors.
    </p>
  </div>
</section>
