<div id="individual_membership" style="display:none;">
  <h4>Individual Member Notification</h4>
  <form action="http://campaign.work-bench.com/t/t/s/fjult/"
        method="post"
        class="form-full-width"
        id="subForm">
    <input type="text"
           name="cm-name"
           id="name"
           placeholder="NAME" />
    <input type="email"
           name="cm-fjult-fjult"
           id="fjult-fjult"
           placeholder="EMAIL ADDRESS" />
    <input type="submit"
           value="Subscribe"
           class="solid-button" />
  </form>
</div>
