<div id="wb_newsletter" style="display:none;">
  <h4>Work&mdash;Bench Newsletter</h4>
  <form action="http://campaign.work-bench.com/t/t/s/xlkjj/"
        class="form-full-width"
        method="post"
        id="subForm">
    <input type="email"
           name="cm-xlkjj-xlkjj"
           id="xlkjj-xlkjj" 
           placeholder="EMAIL ADDRESS"/>
    <input type="submit"
           value="Subscribe"
           class="solid-button" />
  </form>
</div>
