<div id="team_membership" style="display:none;">
  <h3>Team Member Notification</h3>
  <form action="http://campaign.work-bench.com/t/t/s/jljux/"
        method="post"
        class="form-full-width"
        id="subForm">
    <input type="text"
           name="cm-name"
           id="name"
           placeholder="NAME" />
    <input type="email"
           name="cm-jljux-jljux"
           id="jljux-jljux"
           placeholder="EMAIL ADDRESS" />
   <input type="submit"
          value="Subscribe"
          class="solid-button" />
  </form>
</div>
