<!-- ========================== NAV BAR =========================== -->
<nav class="nav-primary-header">
  <ul class="nav-area">
    <li><a href="#about">About</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#membership">Membership</a></li>
    <li><a href="http://blog.work-bench.com">Blog</a></li>
  </ul>
  <div class="nav-primary-toggle">MENU<span class="ss-rows"></span></div>
</nav>
