<!-- ========================== NEWSLETTER =========================== -->
<section id="newsletter" class="off-white">
  <div class="core-content">
    <form id="newsletter-form"
          method="post"
          class="form-full-width embedded-submit"
          action="http://campaign.work-bench.com/t/t/s/xlkjj/">

      <input type="email"
             id="xlkjj-xlkjj"
             name="cm-xlkjj-xlkjj"
             placeholder="Keep me in the loop…"/>

      <input type="submit"
             value="&#x2713;"
             class="submit ss-standard ss-icon"/>
    </form>
  </div>
</section>
