<!-- ========================== OPEN LETTER ========================== -->
<section id="open-letter">
  <div class="core-content double-padded">
    <h3>A Call for Collaboration</h3>
    <p>
      A technology hub has emerged in New York City and sits down the street from major industries and Fortune 500 companies. Despite the proximity, startups and corporations rarely talk or work together. Enterprise founders continue to face challenges: slower value creation, complex sales and distribution networks, and lack of immediate feedback. Small, medium, and large corporations struggle to identify and integrate technologies capable of reshaping and improving their businesses.
    </p>

    <q>
      Builders and buyers need to work together early, often, and intelligently.
    </q>

    <p>
      Work&mdash;Bench is building a community of members who cooperate for mutual economic, social, and cultural benefit. We are an enterprise technology cooperative that goes above and beyond revenue to foster education and sustainable development of the community. We're motivated by the progress of enterprise technology for our members and for all of us who like to get work done.
    </p>
  </div>
</section>
