<!-- ========================== MEMBERSHIP =========================== -->
<section id="membership">
  <div class="core-content double-padded">
    <h3>Projects</h3>

    <h4>Team Membership</h4>
    <p class="half-margin">
      Growth-stage enterprise technology companies join Work-Bench with a core founding team, initial product-market fit, and well-identified problem to solve. Work-Bench helps with customer introductions, distribution, and potential financing. We can also aid in growing the team and scaling delivery. Join Work-Bench as a team and get a workspace for six months and start building to scale. Applications are currently closed, but will reopen soon; please sign up to be notified.
    </p>
    <p class="half-margin">
      <a href="#team_membership" rel="modal:open">Get Notified</a>
    </p>

    <div class="two-columns some-margin">
      <div class="column-left">
        <h4>Individual Membership</h4>
        <p class="half-margin">Love business to business tools? Work in enterprise? Need a satellite desk for your company? Individual membership will be available soon.<br>
        </p>
        <p class="half-margin">
          <a href="#individual_membership" rel="modal:open">Get Notified</a>
        </p>
      </div>

      <div class="column-right">
        <h4>Partner Membership</h4>
        <p class="half-margin">Work-Bench partners with leaders across verticals, from education to venture capital and industry, to further our member experience.<br>
        </p>
        <p class="half-margin">
          <a href="mailto:partner@work-bench.com">Inquire Further</a>
        </p>
      </div>
    </div>
  </div>
</section>
