<!-- ========================== MEMBERSHIP =========================== -->
<section id="projects">
  <div class="core-content double-padded">
    <h2>Projects</h2>

    <div class="three-columns some-margin">
      <div class="column-left">
        <h3>Metro 59</h3>
        <p class="half-margin">The Metro 59 project offers an opportunity to create a contemporary rental product within walking distance to mass transit. The Aurora/Naperville market offers numerous apartment options, however, only one other project provides direct access to the Metra train, is within one mile of a major retail shopping mall and provides the extensive lifestyle amenities for Metro 59.
          <p class="half-margin">
            <a href="http://nxtgendevelopment.com/our-portfolio/metro-59/" target="_blank">More Information</a>
          </p>
        </p>
      </div>

       <div class="column-center">
        <h3>Union Square</h3>
        <p class="half-margin">Union Square is located on the Station Boulevard corridor, linked directly to the Route 59 train station Metra Line. This project is located just west of Route 59 and provides immediate access to shopping, transportation, and entertainment. The site is located just 10 minutes from downtown Naperville, IL. Aurora is the second largest city in Illinois and provides above-average demographics in income and employment.
          <p class="half-margin">
            <a href="http://nxtgendevelopment.com/our-portfolio/kensington-south/" target="_blank">More Information</a>
          </p>
        </p>
      </div>

      <div class="column-right">
        <h3>Randall Highlands</h3>
        <p class="half-margin">Randall Highlands is a 146 unit for-rent multi-family project in North Aurora, Illinois. The project is located just north of the I-88 technology corridor at the highly visible intersection of Orchard Road and Randall Road. The product is a 2-story for rent townhome styled unit featuring energy efficient systems and construction techniques. The units feature 2 &amp; 3 bedroom units, 2 ½ baths, large kitchens with islands/peninsulas, upgraded finishes, and a 2-car garage.
          <p class="half-margin">
            <a href="http://nxtgendevelopment.com/our-portfolio/randall-highlands/" target="_blank">More Information</a>
          </p>
        </p>
      </div>
    </div>

  </div>
</section>
