<!-- =========================== WORKSPACE =========================== -->
<section id="slideshow" class="hide-when-small">
  <ul class="workbench-floorplans">
    <li>
      <div class="absolute-centered"><h3>Fifth Floor</h3></div>
      <%= image_tag('workbench-5th-floorplan.jpg', alt: "5th Floor") %></li>
    <li>
      <div class="absolute-centered"><h3>Fourth Floor</h3></div>
      <%= image_tag('workbench-4th-floorplan.jpg', alt: "4th Floor") %></li>
  </ul>
  <div class="slideshow-controls absolute-centered">
    <!-- Filled in by slideshow plugin -->
  </div>
</section>
