<!-- ============================= TEAM ============================== -->
<section id="team">
  <div class="core-content two-column-holder double-padded double-padded-reduced">
    <div class="centered-wrap"><h2>Team</h2></div>

    <div class="three-columns some-margin">
      <div class="team-member three-column-left">
        <div class="person-info">
          <%= image_tag("bob.jpg",
                        alt: "Portrait of Bob",
                        class: "team-headshot professional-headshot") %>

          <div class="person-info-headers">
            <h3>Bob <br>Fitzsimmons</h3>
            <h4>Executive Chairman</h4>
            <div class="team-social-links">
              <a href="https://www.linkedin.com/pub/robert-v-fitzsimmons/29/416/177" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="mailto:rfitzsimmons@nextgenerationpublicaffairs.com?subject=Next Generation Capital Partners" target="_blank" class="discrete">
                <span class="ss-social ss-icon ss-mail"></span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Bob has over 25 years of complex transactional &amp; regulatory experience as an attorney, as well as a strategy consultant, investor &amp; compliance advisor. <span class="team-read-more"><a href="#bob_fitzsimmons" rel="modal:open">Read more.</a></span></p>
      </div>

      <div class="team-member three-column-center">
        <div class="person-info">
          <%= image_tag("jim.jpg",
                        alt: "Portrait of Jim",
                        class: "team-headshot professional-headshot") %>
          <div class="person-info-headers">
            <h3>Jim <br>Hughes</h3>
            <h4>Chief Executive Officer</h4>
            <div class="team-social-links">
              <a href="mailto:jhughesjr@nxtgendev.com?subject=Next Generation Capital Partners" target="_blank" class="discrete">
                <span class="ss-social ss-icon ss-mail"></span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">Jim is responsible for developing and maintaining relationships with municipalities, investors, banks and OREO departments at Next Generation Development. <span class="team-read-more"><a href="#jim_hughes" rel="modal:open">Read more.</a></span></p>
      </div>

      <div class="team-member three-column-right">
        <div class="person-info">
          <%= image_tag("john.jpg",
                        alt: "Portrait of John",
                        class: "team-headshot professional-headshot") %>

          <div class="person-info-headers">
            <h3>John <br>Kulczewski</h3>
            <h4>Chief Financial Officer</h4>
            <div class="team-social-links">
              <a href="https://www.linkedin.com/pub/john-kulczewski/25/94/73a/" target="_blank" class="discrete">
                <span class="ss-social ss-icon">&#xF612;</span></a>
              <a href="mailto:john@nxtgendev.com?subject=Next Generation Capital Partners" target="_blank" class="discrete">
                <span class="ss-social ss-icon ss-mail"></span></a>
            </div>
          </div>
        </div>
        <p class="half-margin">John is the Senior Financial Executive of Next Generation Development, responsible for all financing, accounting, tax planning, HR, IT, and treasury operations. <span class="team-read-more"><a href="#john_kulczewski" rel="modal:open">Read more.</a></span></p>
      </div>

    </div>
    </div>
  </div>
</section>
