<!-- =========================== WORKSPACE =========================== -->
<section id="workspace">
  <div class="core-content double-padded">
    <h3>Workspace</h3>

    <h4>Home away from home</h4>
    <p class="half-margin">
      The Work&mdash;Bench workspace was created to bring together companies, big and small, and provide a new home for enterprise technology. We&rsquo;re located in a sunny 32,000 square foot space in Union Square, at the heart of New York City. Our workspace was designed to promote a healthy worklife and thoughtful workstyle. We are tailoring for productivity, from an in-house concierge service that will take care of all the small problems to a state-of-the-art enterprise network. Members feel comfortable and at home, they enjoy inviting friends and colleagues, hosting business partners and events, or sticking around into the night.
    </p>

    <h4>Modular Environment</h4>
    <p class="half-margin">
      We are purposefully designing transformative spaces and modular furniture that adapt to the way members like to work. Even desks and offices are being designed with company growth in mind. We turned to hospitality principles to foster cultural and social interactions in our common spaces and are founded on family values. It&rsquo;s obvious when thirty people get together for lunch at our dining table!
    </p>
  </div>
</section>
