/*

- - - - - - - - - - - - - - - - - - -

SIMPLIST Tumblr Theme CSS by Precrafted

- - - - - - - - - - - - - - - - - - -

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong,
b,
mark {
  font-weight: 700;
  font-style: inherit;
}
em,
i,
cite,
q,
address,
dfn,
var {
  font-style: italic;
  font-weight: inherit;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
ins {
  border-bottom: 1px solid;
}
a,
u,
ins {
  text-decoration: none;
}
del,
s {
  text-decoration: line-through;
}
pre,
code,
samp,
kbd {
  font-family: monospace;
}
small {
  font-size: 0.75em;
}
img {
  border: 0;
  font-style: italic;
}
input,
select,
option,
optgroup,
textarea {
  font: inherit;
}
* {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=9fc8c9ab-8a91-4e06-bd34-77c97757883f");

@font-face {
    font-family: "Lelum Sans";
    src: url('http://www.work-bench.com/fonts/lelum-sans-book.eot');
    src: url('http://www.work-bench.com/fonts/lelum-sans-book.eot?#iefix') format('embedded-opentype'),
         url('http://www.work-bench.com/fonts/lelum-sans-book.woff') format('woff'),
         url('http://www.work-bench.com/fonts/lelum-sans-book.ttf') format('truetype'),
         url('http://www.work-bench.com/fonts/lelum-sans-book.svg#LelumSansBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
// Avenir
@font-face {
  font-family: "AvenirNextLTW01-Regular";
  src: url('http://www.work-bench.com/fonts/avenir-next-regular.eot');
  src: url('http://www.work-bench.com/fonts/avenir-next-regular.eot?#iefix') format('embedded-opentype'),
       url('http://www.work-bench.com/fonts/avenir-next-regular.woff') format('woff'),
       url('http://www.work-bench.com/fonts/avenir-next-regular.ttf') format('truetype'),
       url('http://www.work-bench.com/fonts/avenir-next-regular.svg#AvenirNextRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next W10 Medium";
  src: url('http://www.work-bench.com/fonts/avenir-next-medium.eot');
  src: url('http://www.work-bench.com/fonts/avenir-next-medium.eot?#iefix') format('embedded-opentype'),
       url('http://www.work-bench.com/fonts/avenir-next-medium.woff') format('woff'),
       url('http://www.work-bench.com/fonts/avenir-next-medium.ttf') format('truetype'),
       url('http://www.work-bench.com/fonts/avenir-next-medium.svg#AvenirNextMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next W10 Demi";
  src: url('http://www.work-bench.com/fonts/avenir-next-demi.eot');
  src: url('http://www.work-bench.com/fonts/avenir-next-demi.eot?#iefix') format('embedded-opentype'),
       url('http://www.work-bench.com/fonts/avenir-next-demi.woff') format('woff'),
       url('http://www.work-bench.com/fonts/avenir-next-demi.ttf') format('truetype'),
       url('http://www.work-bench.com/fonts/avenir-next-demi.svg#AvenirNextDemi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next W10 Heavy";
  src: url('http://www.work-bench.com/fonts/avenir-next-heavy.eot');
  src: url('http://www.work-bench.com/fonts/avenir-next-heavy.eot?#iefix') format('embedded-opentype'),
       url('http://www.work-bench.com/fonts/avenir-next-heavy.woff') format('woff'),
       url('http://www.work-bench.com/fonts/avenir-next-heavy.ttf') format('truetype'),
       url('http://www.work-bench.com/fonts/avenir-next-heavy.svg#AvenirNextHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  text-rendering: optimizeLegibility;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
  max-width: 100%;
  height: auto;
}
object,
embed {
  max-width: 100%;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  background: #ecf0f1;
  font-family: 'lelum Sans',Candara,Calibri,Segoe,"Segoe UI",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color: #34495e;
}
h1,
h2,
h3,
h4,
h5,
h7,

h1 {
  font-size: 28px;
}
h2 {
  font-size: 35px;
  line-height: 44px;
  font-family: 'Avenir Next W10 Heavy';
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 200;
/*  to put title in image */
/*  position: absolute; */
/*  padding: 200px 0; */
  width: 100%;
  text-align: center;
  padding-bottom: .1em;
}
h3 {
  font-size: 18px;
  line-height: 25px;
  font-family: 'Avenir Next W10 Medium';
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: .8em;
  padding-bottom: .8em;
}
h4{
  font-size: 18px;
  line-height: 25px;
  font-family: 'lelum Sans',Candara,Calibri,Segoe,"Segoe UI",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-bottom: .5em;
}
h5 {
  font-size: 10px;
  line-height: 16px;
  font-family: 'Avenir Next W10 Medium';
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding-bottom: 3em;
/*  font-weight: 300;
  text-transform: uppercase;
  color: #2c3e50
  letter-spacing: 1px;
  line-height: 1;
*/
}
h6 {
  font-size: 10px;
/*  line-height: 2;*/
  font-family: 'Avenir Next W10 Demi';
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  text-align: left;
  padding-bottom: 1em;
}
a {
  text-decoration: none;
  color: #ee9285;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}
a:hover {
  color: #444;
}
p {
  margin-top: 18px;
}
header {
  position: relative;
  width: 100%;
  clear: both;
  padding: 40px 20px;
  text-align: center;
}
header .logo {
  display: block;
}
header .logo img {
  display: inline;
  max-width: 320px;
}
header .avatar {
  display: inline-block;
}
header .avatar img {
  overflow: hidden;
  display: inline-block;
  max-width: 128px;
}
header .avatar.circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
header h1 {
  margin-top: 30px;
  letter-spacing: 4px;
}
header .description {
  margin-top: 32px;
  padding: 0 10%;
}
header nav {
  margin-top: 18px;
}
header nav ul {
  position: relative;
  list-style: none;
}
header nav ul li {
  display: inline-block;
  margin: 14px 6px 0;
}
header nav ul li a {
  display: block;
  padding: 6px 12px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
header nav ul.social-menu li {
  min-width: 37px;
  text-align: center;
}
header nav ul.social-menu li a {
  padding: 6px 8px 6px;
  font-size: 15px;
}
header nav ul.social-menu li a .social-ebay {
  margin-left: -6px;
}
header nav ul.social-menu li a .social-gmail {
  margin-left: -3px;
  font-size: 14px;
}
header nav ul.social-menu li a .social-forrst {
  margin-right: -2px;
}
header nav ul.social-menu li a .social-vimeo {
  margin-left: -3px;
}
header nav ul.social-menu li a .social-fivehundredpx {
  margin-left: -2px;
}
header nav ul.social-menu li a .social-twitter,
header nav ul.social-menu li a .social-vimeo {
  font-size: 14px;
}
#infscr-loading,
.page-loading {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 40px;
  height: 40px;
  z-index: 100;
  background: #ffffff;
  text-align: center;
  color: #ee9285;
  padding-top: 9px;
  font-weight: 600;
}
#infscr-loading img,
.page-loading img {
  position: absolute;
  top: 4px;
  left: 4px;
}
footer {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
footer.individual-footer {
  margin-top: 0;
}
footer .footer-border {
  position: relative;
  clear: both;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 50px 0 30px;
  text-transform: none;
}
footer .footer-border span {
  display: block;
}
footer .pagination {
  display: none;
}
footer .load-more,
footer .scroll-top {
  display: inline-block;
  cursor: pointer;
  padding: 24px 28px;
  margin: 20px 10px 0;
  text-align: center;
  background: #ffffff;
  color: #ee9285;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer .load-more:hover,
footer .scroll-top:hover {
  background: #ee9285;
  color: #ffffff;
}
footer .load-more.off,
footer .scroll-top.off {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  border: 0;
}
footer .scroll-top {
  padding: 24px;
}
footer .credit {
  width: 100%;
  font-size: 11px;
  letter-spacing: 0;
  margin-top: 4px;
}
section {
  position: relative;
  clear: both;
  width: 100%;
  height: 100%;
  padding: 0 20px 30px;
}
article {
  position: relative;
  width: 100%;
  padding: 30px 30px 20px;
  background: #ffffff;
  margin-top: 20px;
}
article .article-content {
  position: relative;
}
article .article-content .icons {
  margin: 20px 0 0;
  list-style-type: none;
  height: 16px;
}
article .article-content .icons li {
  float: left;
  margin-right: 10px;
}
article .article-content .icons a,
article .article-content .icons .like_button {
  float: left;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
  opacity: 0.5;
  cursor: pointer;
}
article .article-content .icons a:hover,
article .article-content .icons .like_button:hover {
  opacity: 1;
}
article .article-content .icons .permalink {
  margin-right: 2px;
}
article .article-content .icons .sharer {
  float: left;
  font-size: 17px;
  opacity: 0.5;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
  margin-left: -1px;
  -webkit-backface-visibility: hidden;
}
article .article-content .icons .sharer i,
article .article-content .icons .sharer a {
  float: left;
  cursor: pointer;
  color: #000;
  -webkit-backface-visibility: hidden;
}
article .article-content .icons .sharer.white i,
article .article-content .icons .sharer.white a {
  color: #fff;
}
article .article-content .icons .sharer a,
article .article-content .icons .sharer .reblog-icon {
  font-size: 13px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  margin-left: -16px;
}
article .article-content .icons .sharer a.social-facebook {
  margin-top: -2px;
}
article .article-content .icons .sharer a.social-twitter {
  margin-top: -2px;
}
article .article-content .icons .sharer .social-export {
  margin-top: -3px;
}
article .article-content .icons .sharer .reblog-icon {
  margin-left: -8px;
  -webkit-transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}
article .article-content .icons .sharer .reblog-icon a {
  margin: 0 2px -2px 2px !important;
  opacity: 1 !important;
}
article .article-content .icons .sharer:hover {
  opacity: 1;
}
article .article-content .icons .sharer.on {
  opacity: 1;
}
article .article-content .icons .sharer.on a,
article .article-content .icons .sharer.on .reblog-icon {
  visibility: visible;
  opacity: 0.5;
  margin-left: 5px;
}
article .article-content .icons .sharer.on a.social-facebook,
article .article-content .icons .sharer.on .reblog-icon.social-facebook {
  margin-left: 3px;
}
article .article-content .icons .sharer.on a:hover,
article .article-content .icons .sharer.on .reblog-icon:hover {
  opacity: 1;
}
article .article-content img {
  width: 100%;
  height: auto;
}
article.type_text embed,
article.type_text iframe,
article.type_text object,
article.type_text video {
  max-width: 100%;
}
article.type_video .video-container {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  position: relative;
  overflow: hidden;
}
article.type_video .video-container embed,
article.type_video .video-container iframe,
article.type_video .video-container object,
article.type_video .video-container video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  position: absolute;
}
article.type_video.widescreen .video-container {
  padding-bottom: 57.25%;
}
article.type_video.vimeo .video-container {
  padding-top: 0;
}
article.type_quote .quote {
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  color: #2c3e50;
}
article.type_quote .quote.short {
  font-size: 28px;
}
article.type_quote .quote.medium {
  font-size: 25px;
}
article.type_quote .quote.long {
  font-size: 18px;
}
article.type_quote .quote-author {
  margin-top: 20px;
}
article.type_link .the-link {
  display: block;
  padding: 80px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
article.type_link .the-link span {
  font-size: 14px;
  display: block;
  opacity: 0.6;
  font-weight: 400;
  text-transform: none;
  margin-top: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article.type_chat .line {
  border-top: 2px solid #ecf0f1;
  padding: 12px 0;
}
article.type_chat .line:first-of-type {
  margin-top: 28px;
}
article.type_answer .answer-wrap {
  clear: both;
  min-height: 44px;
}
article.type_answer hr {
  clear: both;
  width: 100%;
  height: 2px;
  border: 0;
  margin: 24px 0;
  background: #ecf0f1;
}
article.type_answer .answer-image {
  float: left;
  margin-right: 20px;
  width: 44px;
}
article.type_answer .answer-image.circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
article.type_answer .answer-person {
  font-weight: 600;
}
article.type_answer .answer-text p:first-child {
  margin-top: 0;
}
article.type_audio img {
  margin-bottom: 20px;
}
article.type_audio embed {
  height: default;
}
article.type_audio iframe {
  max-width: 100%;
}
article.type_audio .tumblr_audio_player,
article.type_audio .soundcloud_audio_player {
  width: 100%;
}
article a {
  font-weight: 400;
  border-bottom: 2px solid;
}
article h2 a {
  font-weight: 300;
}
article .caption {
  margin-top: 20px;
}
article .read_more {
  text-transform: uppercase;
  font-size: 11px;
}
article ol,
article ul {
  margin: 10px 0 0 20px;
}
article blockquote {
  padding: 5px 0 5px 12px;
  margin-top: 18px;
  border-left: 2px solid #ecf0f1;
}
article blockquote p {
  margin-top: 0 !important;
}
article blockquote img {
  width: auto;
}
article .tagged {
  clear: both;
  width: 100%;
  font-size: 11px;
  font-weight: 600;
}
article .group-author {
  margin-top: 40px;
  clear: both;
  width: 100%;
}
article .group-author a {
  font-size: 12px;
}
article .group-author a img {
  display: inline;
  width: auto;
  margin: 0 8px -11px 0 !important;
}
article .group-author a img.circle {
  border-radius: 100%;
}
article .post-meta {
  clear: both;
  margin-top: 10px;
  font-size: 11px;
}
article .dsq-comment-count {
  display: block;
  clear: both;
  margin-top: 6px;
  font-size: 11px;
}
article .disqus {
  clear: both;
  width: 100%;
  margin-top: 40px;
}
article .disqus img {
  width: auto;
}
article .post-notes {
  clear: both;
  width: 100%;
  margin-top: 40px;
}
article .post-notes ol {
  list-style: none;
  margin: 0;
  clear: both;
}
article .post-notes li {
  display: block;
  padding: 7px 0;
  font-size: 11px;
  line-height: 15px;
}
article .post-notes img {
  float: left;
  margin-right: 10px !important;
  width: auto;
}
article .post-notes.circle img {
  border-radius: 100%;
}
article .post-notes blockquote {
  margin: 10px 0 10px 30px;
}
article.nostretch .article-content img {
  width: auto;
  margin: 0 auto;
}
.single-post article {
  margin-top: 0px;
}
.single-post article .post-meta {
  margin-top: 40px;
}
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
  font-size: 13px;
  text-align: center;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#cboxOverlay {
  background: rgba(15, 15, 15, 0.952941);
  opacity: 1 !important;
}
#colorbox {
  outline: 0;
  overflow: visible !important;
}
#cboxContent {
  margin-top: 32px;
  overflow: visible;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadingGraphic {
  background: url(http://static.tumblr.com/e6lc7yi/aU0mm259p/loading.gif) no-repeat center center;
}
#cboxTitle {
  position: absolute;
  bottom: 101%;
  left: 0;
  right: 0;
  color: #ffffff;
  text-shadow: none;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
#cboxSlideshow,
#cboxPrevious,
#cboxNext,
#cboxClose {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(http://static.tumblr.com/fftf9xi/1dslqu1o1/controls.png) no-repeat 0 0;
}
#cboxPrevious,
#cboxNext {
  top: 50%;
  margin-top: -10px;
}
#cboxPrevious {
  background-position: 0px 0px;
  left: -40px;
}
#cboxPrevious.hover {
  background-position: 0px -25px;
}
#cboxNext {
  background-position: -25px 0px;
  right: -40px;
}
#cboxNext.hover {
  background-position: -25px -25px;
}
#cboxClose {
  background-position: -50px 0px;
  right: 50%;
  top: auto;
  bottom: -40px;
  margin-right: -10px;
}
#cboxClose.hover {
  background-position: -50px -25px;
}
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}
.cboxSlideshow_on #cboxSlideshow.hover {
  background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}
.cboxSlideshow_off #cboxSlideshow.hover {
  background-position: -75px -25px;
}
.photoset-cell {
  outline: 0;
}
@media screen and (min-width: 480px) {
  article {
	padding: 50px 50px 40px;
  }
}
@media screen and (min-width: 768px) {
  body {
	border: 10px solid #ededed;
	font-size: 16px;
	line-height: 2;
  }
  footer {
	margin-top: 60px;
  }
  footer .footer-border {
	padding: 80px 0;
  }
  footer .footer-border span {
    width: 100%;
	display: inline-block;
	margin: 0 10px;
  }
  header {
	position: relative;
	width: 70%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 40px 0 20px;
  }
  header .description {
	margin-top: 66px;
	padding: 0 20%;
  }
  header nav {
	margin-top: 46px;
  }
  header nav ul li {
	margin: 20px 8px 0;
  }
  h1 {
	font-size: 38px;
  }
  h2 {
	font-size: 50px;
	line-height: 60px;
    letter-spacing: 6px;
    padding-bottom: .1em;
  }
  h3 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 5px;
    padding-top: .8em;
    padding-bottom: .8em;
  }
  h4{
    font-size: 25px;
    line-height: 32px;
    padding-bottom: .5em;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    padding-bottom: 3em;
  }
  section {
	padding: 0 30px;
  }
  article {
	position: relative;
	width: 70%;
	max-width: 1080px;
	margin: 0px auto 80px;
	padding: 0px 80px 70px;
  }
  article .article-content .icons {
	margin-top: 40px;
  }
  article .article-content .icons .permalink {
	margin-top: -1px;
  }
  article .article-content .icons .reblog-icon {
	margin-top: 1px !important;
  }
  article.type_quote .quote.short {
	font-size: 38px;
  }
  article.type_quote .quote.medium {
	font-size: 38px;
  }
  article.type_quote .quote.long {
	font-size: 26px;
  }
  article.type_quote .quote-author {
	margin-top: 34px;
  }
  article.type_answer .answer-wrap {
	min-height: 64px;
  }
  article.type_answer .answer-image {
	width: 64px;
  }
  article .caption {
	margin-top: 40px;
  }
  .single-post article {
	margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1420px) {

}
